.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.meals {
  width: calc((.25 * 100%) - 5%);
  margin: 2.5%;
  display: inline-block;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.back{
  padding: .8rem 1rem;
  border: none;
  background: #282c34;
  color: #dddddd;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  cursor: pointer;
}

.back:hover {
  filter: brightness(200%);
}

.meals img {
  width: 100%;
}

.meals .desc {
  padding: 3%;
}

.meals .link {
  width: 100%;
  padding: 5% 0;
  background: #282c34;
  text-align: center;
}
.meals .link:hover {
  filter: brightness(200%);
}
 .meals .link a {
   color: #dddddd;
   text-decoration: none;
   font-weight: bold;
 }

.mealItem {
  width: 100%;
  margin:  5% 2.5%;
  display: inline-block;
}

.mealItem img {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: left;
}

.mealItem .desc {
  width: 65%;
  padding: 3%;
  float: left;
}

.mealItem .link {
  width: 100%;
  padding: 5% 0;
  background: #282c34;
  text-align: center;
}
.mealItem .link:hover {
  filter: brightness(200%);
}
.mealItem .link a {
  color: #dddddd;
  text-decoration: none;
  font-weight: bold;
}

.mealsSearch {
  width: 100%;
  margin: 2.5rem;
  display: inline-block;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: left;

}

.mealsSearch img {
  width: calc(1/5*100%);
  float: left;
}

.mealsSearch .desc {
  width: calc(4/5*100%);
  padding: 3%;
  float: left;
}
.mealsSearch .link{
  margin: 3% 0;

}
.mealsSearch a {
  background: #282c34;
  color: #dddddd;
  padding: 1.5%;
  text-decoration: none;
  font-weight: bold;
}
.mealsSearch a:hover {
  filter: brightness(200%);
}

.pagination {
  width: 100%;
  display: inline-block;
  padding: 2rem 0;
}

.pagination ul{
  text-align: center;
}

.pagination li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: rgba(255, 255, 255, 0) .15rem solid;
}

.pagination .select {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
  width: 5rem;
  height: 2.5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: rgba(255, 255, 255, 0) .15rem solid;
  position: relative;
  top: .5rem;
}

.pagination .active {
  background: #282c34;
  color: #dddddd;
}

.pagination .active a {
  color: #dddddd;
}

.pagination li:hover {
  border: #282c34 .15rem solid;
}

.pagination li a {
  color: #282c34;
  text-decoration: none;
  margin: auto;
  position: relative;
  top: 20%;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}